<section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-6 col-lg-6 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center" style="background-image:url(assets/images/profile-pic.jpg);">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 pl-md-5 py-5">
                <div class="row justify-content-start pb-3">
              <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
                  <h1 class="big">About</h1>
                <h2 class="mb-4">About Me</h2>
                <p>A passionate developer named Arturo Nevarez who wants to learn and apply all his knowledge.</p>
                <ul class="about-info mt-4 px-md-0 px-2">
                    <li class="d-flex"><span>Name:</span> <span>Arturo Nevarez</span></li>
                    <li class="d-flex"><span>Date of birth:</span> <span>August 21, 1995</span></li>
                    <li class="d-flex"><span>Email:</span> <span>arturo.nevarez.villa@gmail.com</span></li>
                    <li class="d-flex"><span>Phone: </span> <span>+52-664-227-9568</span></li>
                </ul>
              </div>
            </div>
          <div class="counter-wrap ftco-animate d-flex mt-md-3 fadeInUp ftco-animated">
          <div class="text">
            <p><a href="https://drive.google.com/file/d/1goIcuLuJ6vGC72S648tDTgopRXYtfpPo/view?usp=sharing" target="_blank" class="btn btn-primary py-3 px-3">Download CV</a></p>
          </div>
          </div>
        </div>
    </div>
    </div>
</section>