<section class="ftco-section ftco-partner">
    <div class="container">
        <div class="row text-center">
            <div class="col-sm ftco-animate fadeInUp ftco-animated">
                <a href="http://int-systems.net/" class="partner" target="_blank"><img src="./assets/images/system-logo.png" class="img-fluid" alt="system communications"></a>
            </div>
            <div class="col-sm ftco-animate fadeInUp ftco-animated">
                <a href="https://wurkflow.net/" class="partner" target="_blank"><img src="./assets/images/omniprint-logo.png" class="img-fluid" alt="omniprint international"></a>
            </div>
        </div>
    </div>
</section>