<section class="ftco-section ftco-project" id="projects-section">
    <div class="container-fluid px-md-0">
        <div class="row no-gutters justify-content-center pb-5">
      <div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated">
          <h1 class="big big-2">Projects</h1>
        <h2 class="mb-4">My Projects</h2>
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
      </div>
    </div>
        <div class="row no-gutters">
            <div class="col-md-4">
                <div class="project img ftco-animate d-flex justify-content-center align-items-center fadeInUp ftco-animated" style="background-image: url(assets/images/wurk.png);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="https://wurkflow.net/" target="_blank">Wurk</a></h3>
                        <span>Wurkflow Management for your Print Shop</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="project img ftco-animate d-flex justify-content-center align-items-center fadeInUp ftco-animated" style="background-image: url(assets/images/sirius.png);">
                  <div class="overlay"></div>
                  <div class="text text-center p-4">
                      <h3><a href="http://int-systems.net/sirius.html" target="_blank">Sirius</a></h3>
                      <span>It is an inventory system that is flexible and can easily adapt to your organization's processes, helping them to operate in an intuitive tool developed with end user in mind.</span>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="project img ftco-animate d-flex justify-content-center align-items-center fadeInUp ftco-animated" style="background-image: url(assets/images/naturalgrown.png);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="http://naturalgrown.herokuapp.com/home" target="_blank">NaturalGrown</a></h3>
                        <span>Organic orchards close to you!</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="project img ftco-animate d-flex justify-content-center align-items-center fadeInUp ftco-animated" style="background-image: url(assets/images/adminpro.png);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="https://github.com/PerviousNebula?tab=stars" target="_blank">Sistema de Ventas adminpro</a></h3>
                        <span>Inventory system, products management, money flow and more!</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb ftco-counter img" id="section-counter">
    <div class="container-fluid px-md-5">
            <div class="row d-md-flex align-items-center">
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
        <div class="block-18 shadow">
          <div class="text">
            <strong class="number" data-number="5">5</strong>
            <span>Online Courses</span>
          </div>
        </div>
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
        <div class="block-18 shadow">
          <div class="text">
            <strong class="number" data-number="2">2</strong>
            <span>Side Projects</span>
          </div>
        </div>
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
        <div class="block-18 shadow">
          <div class="text">
            <strong class="number" data-number="500">500</strong>
            <span>Cups of coffee</span>
          </div>
        </div>
      </div>
      <div class="col-md d-flex justify-content-center counter-wrap ftco-animate fadeInUp ftco-animated">
        <div class="block-18 shadow">
          <div class="text">
            <strong class="number" data-number="1000000">+1M</strong>
            <span>Git Commits</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>